@{
    // Index.cshtml
    //
    // @Date: 25/2/2018
    // @Auhtor: Roberth Hansson-Tornéus (Gawee.Narak@gmail.com)
    // @Copyright: ©2018 – Roberth Hansson-Tornéus, All rights reserved.
    //

    ViewData["Title"] = "MyShop's Back-End Service";
    ViewData["ListTitle"] = "Products";
}
@model List<MVCShop.Models.Product>;
<noscript>
  You need to enable JavaScript to run this app.
</noscript>
<div id="root"></div>