@{
    // Index.cshtml
    //
    // @Date: 25/2/2018
    // @Auhtor: Roberth Hansson-Tornéus (Gawee.Narak@gmail.com)
    // @Copyright: ©2018 – Roberth Hansson-Tornéus, All rights reserved.
    //
}
@model List<MVCShop.Models.Product>;

@foreach(var item in Model) {
    <div>@item.Name</div>
}
