@{
// _Layout.cshtml
//
// @Date: 25/2/2018
// @Auhtor: Roberth Hansson-Tornéus (Gawee.Narak@gmail.com)
// @Copyright: ©2018 – Roberth Hansson-Tornéus, All rights reserved.
//

var AppName = "MyShop";

}<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @AppName</title>

    <environment include="Development">
       @{ /*<!--        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />--> */ }
      <link rel="stylesheet" href="~/lib/materialize/css/materialize.css">
      <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
       @{ /*<!--<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />-->*/}
       <link rel="stylesheet" href="~/lib/materialize/css/materialize.min.css" asp-append-version="true">
       <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" asp-append-version="true">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ceviche+One" asp-append-version="true">
    <link rel="stylesheet" href="~/static/css/main.19055a79.css" asp-append-version="true">
      
</head>
<body>
   @RenderBody()
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/materialize/js/materialize.min.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    <script src="~/static/js/main.7470f7a4.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
